{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{% endblock title %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="black" role="navigation">
    {% block navbar %}

    {% endblock navbar %}
  </nav>

  {% block header %}

  {% endblock header %}

  <div class="container">
    {% block download_section %}

    {% endblock download_section %}
  </div>

  <div class="container">
    {% block list_url %}

    {% endblock list_url%}
  </div>

  <!--  Scripts-->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>

  </body>
</html>
